@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  /*background-color: darkgrey;
  background-position: center;
  background-repeat: repeat;*/

  background-color: antiquewhite;

  /*background: linear-gradient(to top left, #28b487, #7dd56f);*/
}

.container {
  width: 400px;
  height: 550px;
  margin: 0 auto;
}

.part {
  width: 100%;
  height: 25%;
  background-color: bisque;
  outline: 1px dashed;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.hidden {
  display: none;
}

.head {
  background-color: whitesmoke;
  background-image: url(paper.jpeg);
  text-align: center;
  padding-top: 50px;
  transform: skew(5deg);
}

.torso {
  background-color: bisque;
  background-image: url(paper.jpeg);
  text-align: center;
  padding-top: 50px;
  transform: skew(-5deg);
}

.legs {
  background-color: bisque;
  background-image: url(paper.jpeg);
  text-align: center;
  padding-top: 50px;
  transform: skew(5deg);
}

.feet {
  background-color: bisque;
  background-image: url(paper.jpeg);
  text-align: center;
  padding-top: 50px;
  transform: skew(-5deg);
}

.btn1 {
  width: 100px;
  height: 50px;
}

.btn2 {
  width: 100px;
  height: 50px;
}

.btn3 {
  width: 100px;
  height: 50px;
}

.btn4 {
  width: 100px;
  height: 50px;
}

.btnReset {
  width: 100px;
  height: 50px;
}

h1 {
  padding: 10px;
}

header {
  margin: 10px;
}
